@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    /*Devices*/
    --minDeviceWidth: 320px;
    --mobileWidth: 375px;
    --desktopWidth: 1440px;
    /*Typography*/
    --FF: "League Spartan", sans-serif;
    --FS: 32px;
    --FW: 700;
    /*All colors*/
        /*Transparent*/
    --Transparent: hsla(0, 0%, 100%, 0);
        /*Theme 1*/
            /*Backgrounds*/
    --vDarkDesBlue1: hsl(222, 26%, 31%);
    --vDarkDesBlue2: hsl(223, 31%, 20%);
    --vDarkDesBlue3: hsl(224, 36%, 15%);
            /*Keys*/
    --darkDesBlue1: hsl(225, 21%, 49%);
    --darkDesBlue2: hsl(224, 28%, 35%);
    --red1: hsl(6, 63%, 50%);
    --red2: hsl(6, 70%, 34%);
    --greyOrange1: hsl(30, 25%, 89%);
    --greyOrange2: hsl(28, 16%, 65%);
            /*Text*/
    --greyBlue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);
            /*Active*/
    --darkDesBlueActive: hsl(225, 21%, 59%);
    --redActive: hsl(6, 63%, 60%);
    --greyOrangeActive: hsl(30, 25%, 99%);
        /*Theme 2*/
            /*Backgrounds*/
    --lightGrey1: hsl(0, 0%, 90%);
    --lightGrey2: hsl(0, 5%, 81%);
    --lightGrey3: hsl(0, 0%, 93%);
            /*Keys*/
    --darkCyan1: hsl(185, 42%, 37%);
    --darkCyan2: hsl(185, 58%, 25%);
    --orange1: hsl(25, 98%, 40%);
    --orange2: hsl(25, 99%, 27%);
    --greyYellow1: hsl(45, 7%, 89%);
    --greyYellow2: hsl(35, 11%, 61%);
            /*Text*/
    --dGreyYellow: hsl(60, 10%, 19%);
            /*Active*/
    --darkCyanActive: hsl(185, 42%, 47%);
    --orangeActive: hsl(25, 98%, 50%);
    --greyYellowActive: hsl(45, 7%, 99%);
        /*Theme 3*/
            /*Backgrounds*/
    --vDarkViolet1: hsl(268, 75%, 9%);
    --vDarkViolet2: hsl(268, 71%, 12%);/*toggle background, keypad background, screen background*/
            /*Keys*/
    --violet1: hsl(281, 89%, 26%);
    --violet2: hsl(285, 91%, 52%);
    --cyan1: hsl(176, 100%, 44%);
    --cyan2: hsl(177, 92%, 70%);
    --darkViolet1: hsl(268, 47%, 21%);
    --darkViolet2: hsl(290, 70%, 36%);
            /*Text*/
    --yellow: hsl(52, 100%, 62%);
    --vDarkBlue: hsl(198, 20%, 13%);
            /*Active*/
    --violetActive: hsl(281, 89%, 36%);
    --cyanActive: hsl(176, 100%, 54%);
    --darkVioletActive: hsl(268, 47%, 31%);
    /*Dimensions*/
    --shadowLength: 3px;
    --keyRadius: 5px;
    --gapSize: 20px;
    --calcRadius: 10px;
    --mTagFS: 18px;
    --dTagFS: 14px;
    --mSwitch: 24px;
    --dSwitch: 20px;
    --mToggleMargin: 4px;
    --dToggleMargin: 2px;
    --mToggleHeight: 32px;
    --dToggleHeight: 24px;
    --mToggleWidth: 100px;
    --dToggleWidth: 80;
}
    /*Color Themes*/
:root{/*Template & Theme 1*/
    /*Backgrounds*/
    --mainB: var(--vDarkDesBlue1);
    --toggleB: var(--vDarkDesBlue2);
    --keypadB: var(--vDarkDesBlue2);
    --screenB: var(--vDarkDesBlue3);
    /*Keys*/
    --keyB1: var(--darkDesBlue1);
    --keySh1: var(--darkDesBlue2);
    --keyB2: var(--red1);
    --toggle: var(--red1);
    --keySh2: var(--red2);
    --keyB3: var(--greyOrange1);
    --keySh3: var(--greyOrange2);
    /*Theme Switch*/
    --AcheckMark: var(--redActive);
    --checkMark1: var(--keyB2);
    --checkMark2: var(--Transparent);
    --checkMark3: var(--Transparent);
    /*Text*/
    --Text1: var(--greyBlue);
    --Text2: var(--white);
    --Text3: var(--white);
    /*Active*/
    --activeColor1: var(--darkDesBlueActive);
    --activeColor2: var(--redActive);
    --activeColor3: var(--greyOrangeActive);
    /*Screen Text*/
    --textScreen: var(--white);
}
.theme-2{/*Theme 2*/
    /*Backgrounds*/
    --mainB: var(--lightGrey1);
    --toggleB: var(--lightGrey2);
    --keypadB: var(--lightGrey2);
    --screenB: var(--lightGrey3);
    /*Keys*/
    --keyB1: var(--darkCyan1);
    --keySh1: var(--darkCyan2);
    --keyB2: var(--orange1);
    --toggle: var(--orange1);
    --keySh2: var(--orange2);
    --keyB3: var(--greyYellow1);
    --keySh3: var(--greyYellow2);
    /*Theme Switch*/
    --AcheckMark: var(--orangeActive);
    --checkMark1: var(--Transparent);
    --checkMark2: var(--keyB2);
    --checkMark3: var(--Transparent);
    /*Text*/
    --Text1: var(--dGreyYellow);
    --Text2: var(--white);
    --Text3: var(--white);
    /*Active*/
    --activeColor1: var(--darkCyanActive);
    --activeColor2: var(--orangeActive);
    --activeColor3: var(--greyYellowActive);
    /*Screen Text*/
    --textScreen: var(--dGreyYellow);
}
.theme-3{/*Theme 3*/
    /*Backgrounds*/
    --mainB: var(--vDarkViolet1);
    --toggleB: var(--vDarkViolet2);
    --keypadB: var(--vDarkViolet2);
    --screenB: var(--vDarkViolet2);
    /*Keys*/
    --keyB1: var(--violet1);
    --keySh1: var(--violet2);
    --keyB2: var(--cyan1);
    --toggle: var(--cyan1);
    --keySh2: var(--cyan2);
    --keyB3: var(--darkViolet1);
    --keySh3: var(--darkViolet2);
    /*Theme Switch*/
    --AcheckMark: var(--cyanActive);
    --checkMark1: var(--Transparent);
    --checkMark2: var(--Transparent);
    --checkMark3: var(--keyB2);
    /*Text*/
    --Text1: var(--yellow);
    --Text2: var(--vDarkBlue);
    --Text3: var(--white);
    /*Active*/
    --activeColor1: var(--violetActive);
    --activeColor2: var(--cyanActive);
    --activeColor3: var(--darkVioletActive);
    /*Screen Text*/
    --textScreen: var(--yellow);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mainB);
}
footer{
    position: absolute;
    bottom: 0;
}

h1,span{
    color: var(--textScreen);
    font-family: var(--FF);
}
button{
    font-family: var(--FF);
    /*font-size: var(--FS);
    font-weight: var(--FW);*/
    text-align: center;
}